<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hueber!</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <style>
        .ride{
            padding-top: 50px;
            max-width: 240px;
            margin-right: auto;
            margin-left: auto;
        }
        body 	{
            padding-top: 240px;
        }

    </style>

</head>
<body>
<div class="jumbotron text-center">
    <h1>Hueber!<span class="label label-info"></span></h1>
    <div class = "ride">
        <a href="/auth/uber" class="btn btn-secondary btn-lg btn-block btn-success">Login with Uber</a>
    </div>
</div>




</body>
</html>