<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Hueber!</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">


    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- ANGULAR CUSTOM -->
    <script src="/js/app.js"></script>
    <script src="/services/uberApi.js"></script>
    <script src="/controllers/formController.js"></script>

    <style>
        html 					{ overflow-y:scroll; }
        .center                 { text-align: center; }
        .right                   { text-align: right; }
    </style>

</head>
<body ng-app="hueberApp" ng-controller="formController">

<div class="jumbotron text-center">
    <h1>Hueber!<span class="label label-info"></span></h1>

    <div class="welcometext">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-9">
                    <p><img ng-src="{{userphoto}}" style="width:45px;height:45px" class="img"/><span id="userName" style="padding-left:10px">Hi {{username}} | </span><a href="/logout">Logout</a></p>
                </div>

            </div>
        </div>
    </div>
</div>

<!--<div class="jumbotron text-center">-->
    <!--<h1 class="app-title text-center">Hueber!</h1>-->
    <!--<img class= "profile_img" ng-src="{{userphoto}}">-->
    <!--<div class="clear"></div>-->
<!--</div>-->

<!--<div class="welcometext">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-2 col-sm-offset-9">-->
                <!--<span>Hello {{username}}, <a href="/logout">Logout</a></span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<form class="form-horizontal" style="margin-top:150px">
    <fieldset>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Name">Philips User Name</label>
            <div class="col-md-4">
                <input id="Name" name="Name" type="text" ng-model="philipsUserName" placeholder="Philips Username" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Philips_id">Philips Hue Ip Address</label>
            <div class="col-md-4">
                <input id="Philips_id" name="Philips_id" ng-model="philipsIpAddress" type="text" placeholder="Philips IP address" class="form-control input-md" required="">
            </div>
        </div>


        <div class="row-fluid text-center">
            <button id="Login" name="Login" class="btn btn-success span4" ng-click = "bookRide()">Book a ride</button>
            <button id="Login" name="Login" class="btn btn-primary span4 center" ng-click = "enRoute()">En Route</button>
            <button id="Login" name="Login" class="btn btn-danger span4 right" ng-click = "sendSos()">SOS</button>
            <button id="Login" name="Login" class="btn btn-danger span4 right" ng-click = "finishRide()">Finish Ride</button>
            <button id="Login" name="Login" class="btn btn-danger span4 right" ng-click = "stopLights()">Stop Lights</button>
        </div>

    </fieldset>
</form>
</body>
</html>